<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 ms-5">
    <legend class="fieldset-legend">Current Cash On Hand</legend>
    <label class="label">Bank Account Cash</label>
    <input class="input" (blur)="onAmountBlur('cashOnHand')"
        [ngClass]="{ 'input-error': inflowForm.cashOnHand().invalid() && inflowForm.cashOnHand().touched() }"
        type="text" [formField]="inflowForm.cashOnHand" placeholder="1000.00" inputmode="decimal" />
    @if (inflowForm.cashOnHand().invalid() && inflowForm.cashOnHand().touched()) {
    <div class="text-red-600">
        @for (error of inflowForm.cashOnHand().errors(); track error.kind) {
        <span>{{ error.message }}</span>
        }
    </div>
    }
</fieldset>

<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 ms-5">
    <legend class="fieldset-legend">Current Inflow</legend>
    <label class="label">Paycheck</label>
    <input class="input" (blur)="onAmountBlur('paycheckAmount')"
        [ngClass]="{ 'input-error': inflowForm.paycheckAmount().invalid() && inflowForm.paycheckAmount().touched() }"
        type="text" [formField]="inflowForm.paycheckAmount" placeholder="1000.00" inputmode="decimal" />
    @if (inflowForm.paycheckAmount().invalid() && inflowForm.paycheckAmount().touched()) {
    <div class="text-red-600">
        @for (error of inflowForm.paycheckAmount().errors(); track error.kind) {
        <span>{{ error.message }}</span>
        }
    </div>
    }

    <label class="label">How Often Do You Get This Paycheck?</label>
    <select class="select" [formField]="inflowForm.paycheckCadence">
        @for (option of cadenceOptions; track option.value) {
        <option value="{{ option.value }}">{{ option.label }}</option>
        }
    </select>

    <label class="label">Day of Month For this Paycheck</label>
    <input type="number" [formField]="inflowForm.paycheckDayOfMonth" class="input validator"
        placeholder="Type a number between 1 to 31" title="Must be between be 1 to 31" />
    @if (inflowForm.paycheckDayOfMonth().invalid() && inflowForm.paycheckDayOfMonth().touched()) {
    <div class="text-red-600">
        @for (error of inflowForm.paycheckDayOfMonth().errors(); track error.kind) {
        <span>{{ error.message }}</span>
        }
    </div>
    }

</fieldset>

<div class="stats bg-base-100 border-base-300 border ms-5 mt-2">
    <div class="stat">
        <div class="stat-title">Cash Balance</div>
        <div class="stat-value"> {{ cashOnHandAmount() | currency }} </div>
        <div class="stat-actions">
            <button class="btn btn-xs btn-success">Add funds</button>
        </div>
    </div>

    <div class="stat">
        <div class="stat-title">Income From Paychecks</div>
        <div class="stat-value"> {{ paycheckAmount() | currency }} </div>
        <div class="stat-actions">
            <button class="btn btn-xs">Withdrawal</button>
            <button class="btn btn-xs">Deposit</button>
        </div>
    </div>
</div>