<div class="flex items-start gap-4 ms-5">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend">Export</legend>
        <button class="btn btn-dash btn-accent" (click)="exportToFile()">Export Outflows & Inflows via
            JSON file</button>
        <label class="label">Produces a .json file which can be imported below</label>
    </fieldset>
</div>

<div class="flex items-start gap-4 ms-5">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend">Import</legend>
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Choose a Save File</legend>
            <input type="file" class="file-input file-input-accent" accept=".json" (change)="importFromFile($event)" />
            <label class="label">Only .json files</label>
        </fieldset>
    </fieldset>
</div>

@if (this.exportSuccess()) {
<div class="toast toast-center">
    <div class="alert alert-success">
        <span>{{ this.exportSuccess() }}</span>
    </div>
</div>
}
@if (this.exportFailure()) {
<div class="toast toast-center">
    <div class="alert alert-error">
        <span>{{ this.exportFailure() }}</span>
    </div>
</div>
}
@if (this.importSuccess()) {
<div class="toast toast-center">
    <div class="alert alert-success">
        <span>{{ this.importSuccess() }}</span>
    </div>
</div>
}
@if (this.importWarning()) {
<div class="toast toast-center">
    <div class="alert alert-warning">
        <span>{{ this.importWarning() }}</span>
    </div>
</div>
}
@if (this.importFailure()) {
<div class="toast toast-center">
    <div class="alert alert-error">
        <span>{{ this.importFailure() }}</span>
    </div>
</div>
}

<p class="text-xs text-base-content/50 ms-5 mt-4">v{{ appVersion }}</p>